@media only screen and (max-height:480px) {
    .game {
        height: 100%;
    }

    .game-overlay {
        height: 100%;
    }

    .play {
        top: 24px;
    }

    .play img {
        width: 112px;
        height: 48px;
    }

    canvas {
        border-radius: unset;
    }

}

@media only screen and (max-height:850px){
   p {
     font-size: 15px;
     margin-top: 15px;
   }
   
    .button-space{
        padding: 4px 40px;
    }
   
    .icon {
      width: 60px;
    }
}

@media only screen and (max-height:650px){
   p {
     font-size: 12px;
     margin-top: 15px;
   }
   
    .button-space{
        padding: 2px 10px;
        font-size: 16px;
    }
    .icon {
      width: 40px;
    }
    a{
        padding: 1px;
    }
    .start-button {
      width: 100px;
    }
    .game-btn {
      object-fit: cover;
      height: 65px;
    }
    .mobile-action-btn {
      width: 70px;
    }
}


@media only screen and (max-width:720px) and (display-mode: fullscreen) {
    .play {
        top: 24px;
        scale: 1;
    }
    .screen-btns {
       position: unset;
    }
    .button-space{
        padding: 4px 40px;
    }
    .icon {
      width: 60px;
    }
}

@media ((display-mode: fullscreen) and (min-width:720px)) {
    .game-overlay {
        max-width: 100%;
    }

    .play {
        top: 88px;
        scale: 2;
    }

    .play:hover {
        scale: 2.1;
    }

    #open-fullscreen-btn {
        display: none !important;
    }

    #close-fullscreen-btn {
        display: block !important;
    }
}

@media ((display-mode: fullscreen) and (min-width:450px)) {
   
    .exit-btn {
     font-size: 0;
    }
    .icon-mute {
      width: 25px;
    }
    .mute-container{
      flex-direction: column-reverse;
    }
}